<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <h3 style="color: black"><strong>
      <%= link_to "PLACON", root_path() %>
      <%= image_tag("ico40.png") %>
    </strong></h3>

    <%if current_user.ativo? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= form_tag users_path, method: :get, class: "form-inline my-2 my-lg-0 ml-md-auto", id: "users-search",
        remote: true do %>
        <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2 text-center common-btn",
          placeholder: "Pesquisar", autocomplete: "off" %>
        <div id="users-result"></div>
      <% end %>
      <ul class="navbar-nav ml-md-auto" >
      <li class="nav-item">
          <a class="fas fa-home fa-2x" href="/" style="color: black;"></a>
        </li>
        <li class="nav-item" >
          <a class="fas fa-clipboard-list fa-2x" href="<%= rules_path()%>" style="color: black;"></a>
        </li>
        <% if current_user.admin == true %>
        <li class="nav-item" >
          <a class="fas fa-address-card fa-2x" href="admin/users_index" style="color: black;"></a>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="fas fa-user fa-2x" href="<%= user_path(current_user)%>" style="color: black;"></a>
          <%# <%= link_to "Profile", user_path(current_user), class: "nav-link profile-icon color-icons-nav" %>
        </li>
      </ul>
    </div>
    <% end%>
  </div>
</nav>
